CMakeFiles
*/CMakeFiles
.cproject
.project
.idea/
.vscode
build/
output/
cmake-build-*/
CMakeCache.txt
uninstall.cmake
cmake_install.cmake
install_manifest.txt
*/cmake_install.cmake
*/*/cmake_install.cmake
*/*/*/cmake_install.cmake
*/install_manifest.txt
Makefile
*/*/Makefile
*/*/*/Makefile
*/*/WPEFramework*Config.cmake
*/*/WPEFramework*ConfigVersion.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
clion-environment/
workspace/
/.vs
/artifacts/Debug
*.user
/artifacts/Release
*.pyc
cmake_install.cmake
Source/broadcast/test/BroadcastTester
